
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <div class="sidebar-nav-item">
        <a href="{{ site.baseurl }}">Home</a>&nbsp;&nbsp;<a href="{{ site.baseurl }}about/">About</a>
    </div>
    {% for post in site.posts %}
      <a class="sidebar-nav-item" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
    {% endfor %}
  </nav>
</div>
